@import url('https://fonts.googleapis.com/css?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');

body{
    
    background-image: url('../images/mahyar.jpg');
    /* background-blend-mode: ; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

.col-md-3{
    margin-bottom: 10px;
}
 #mal{
    text-transform: uppercase;
    font-size: 80px;
    color: #fff;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 40px #ff4da6, 0 0 40px #ff4da6, 0 0 40px #ff4da6, 0 0 40px #ff4da6, 0 0 40px #ff4da6;


    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    font-family: 'Fredericka the Great' ;   
} 

.nav-item{
    padding: 30px;
    height:10px;
    font-family: italic;
    font-size: 20px;
 }

 #portfolio{
    padding: 50px;
    color:black;
  }
  #about{
    font-family: 'Fondamento', cursive;
    font-size: 25px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
}



  .img-hover-zoom {
    /* [1.1] Set it as per your need */
    overflow: hidden /* [1.2] Hide the overflowing of child elements */
  }
/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
    transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(1.5);
  }
    /* [1] The container */
/* Zoom-n-rotate Container */
.img-hover-zoom--zoom-n-rotate img {
    transition: transform .5s ease-in-out;
  }
  
  /* The Transformation */
  .img-hover-zoom--zoom-n-rotate:hover img {
    transform: scale(2) rotate(360deg);
  }

  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
#deliver{
    font-size: 30px;
    
    font-family: 'Vidaloka';



}

